
#skill-container{
    visibility: hidden;
    display: none;
}

#small-skills{
    width: 80%;
    display: flex;
    visibility: visible;
    justify-content: space-evenly;
}


.arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--text-color);
    transition: all 0.2s ease-in-out;
}

.arrow:focus{
    background-color: var(--text-color);
    color: var(--white);
}




