
/* ======================================[ Default Settings for Displays over 1500px ]================================*/
:root{
    --text-color: #28322b;
    --white: #e6e6e6;
    --red: #DB2955;
    --green: #44BBA4;
    --color-gray: #666;
    --color-black: #000;
    --shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    --neumorph-shadow: -20px 20px 60px #c4c4c4,
                        20px -20px 60px #ffffff;
    --button_radius: 0.75rem;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    --font-size: 20px;
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    background-color: var(--white);
    text-size-adjust: none;
}
@font-face {
    font-family: Montserrat;
}

h1{
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    color: var(--text-color);
}
h2{
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    color: var(--text-color);
}
h3{
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
}
h4{
    font-family: Montserrat, sans-serif;
    font-size: 1.3rem;
    color: var(--text-color);
}
p{
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    margin: 8px 0;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1.5;
}
span{
    font-size: 1.1rem;
}
b{
    font-family: Montserrat, sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1.5;
}
a{
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: transparent;
    letter-spacing: 1px;
    line-height: 1.5;
}
.big{
    font-size: 3rem;
}


/* =========================================[ Components ]===================================*/
.normal-link{
    border-bottom: 2px solid var(--text-color);
    margin-inline: 10px;
    padding: 10px;
    padding-inline: 5px;
    transition: 0.3s ease-in-out;
}
.normal-link:hover{
    margin-inline: 0;
    padding: 3px;
    padding-inline: 15px;

}
.outer-link{
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.outer-link:hover{
    padding: 10px 20px;
}

.red-link{
    transition: 1s ease-in-out;
    color: var(--white);
    background: rgb(219,41,85);
    background: linear-gradient(270deg, rgba(219,41,85,1) 0%, rgba(191,63,107,1) 30%, rgba(181,36,170,1) 100%) repeat;
}
.red-link:hover {
    background: linear-gradient(90deg, rgba(219,41,85,1) 0%, rgba(191,63,107,1) 30%, rgba(181,36,170,1) 100%) repeat;
}
/* ==================================================[ Button ]================================================^*/
button {
    /* Variables */
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: calc(var(--button_radius) + 0.1rem);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.2s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.fake-button{
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}
.fake-button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.fake-button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}
/* ========================================[ Navigation bar ]===============================*/
nav{
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 4;
    justify-content: space-between;
    border: 1px solid transparent;
    background-color: transparent;
    padding-top: 30px;
}
.home-button{
    padding-left: 8vw;
}
#navigation-links{

    background-color: transparent;
    padding-right: 8vw;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

li{
    float: left;
}

.nav-link{
    flex-grow: 2;
    display: block;
    position: relative;
    z-index: 3;
    padding: 20px 20px;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    width: fit-content;
    box-shadow: rgba(99, 99, 99, 0.5) 0 5px 8px 0;
}

.nav-link:hover{
    text-decoration: underline;
}
/* =========================================[ Side Navigation ]===========================================*/
#side-navigation{
    position: fixed;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 0;
    padding-left: 20px;
    border-left: 1px solid var(--text-color);
}
#side-nav-links{

}
.side-link{
    left: -10px;
    width: max-content;
}
/* ==========================================[ Basic 2 page Layout ]========================================*/
.page{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.flex-holder{
    border: 1px solid black;
    height: min-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex-item{
    min-width: 700px;
    max-width: 1000px;
    width: min-content;
}

.flex-small{
    min-width: 300px;
    max-width: 500px;
    width: min-content;
}
/* ==================================[ hero ] ========================================= */
.hero{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.hero-container{
    margin: 0 10vw;
    align-items: center;
    flex-direction: row-reverse;
}

.hero-text{
    flex-grow: 2;
    width: 40vw;
    font-weight: 500;
}

.hero-svg{
    padding-top: 15vh;
    width: 40vw;
    height: 70vh;
    flex-grow: 1;
}

.blue-link{
    color: #2222ad;
}

#button-about{
    margin-right: 10px;
}

/* ==================================[ about ]========================================== */

.about-container{
    width: 100vw;
    margin: 0 10vw;
}

.about-image-container{
    border-radius: 20px;
}
#about-image{
    height: 60vh;
    border-radius: 25px;
    box-shadow: var(--neumorph-shadow);
}
#about-image:hover{

}

/* -----------------------------------[ skills ]---------------------------------*/
.skill-holder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.skills{
    width: 200px;
    position: relative;
    z-index: 3;
}
.skills p{
    transition: all 0.3s ease-in-out;
}


.skills:hover p{
    background-color: var(--text-color);
    color: var(--white);
}

/* ==========================================[ portfolio ]=================================================*/
#portfolio{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.skill-holder{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.portfolio-holder{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    min-height: 700px;
}
/* ======================================[ contact holder ]================================================*/
#contacts{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.contact-holder{
    text-align: center;
    width: 50vw;
}
#content{
    width: 70%;
}
#contact-me{
    display: grid;
    grid-template-columns: 1fr;

}

.contact-form{
    width: 100%;
    height: 30vh;
}

.form-size{
    font-size: var(--font-size);
}
.submit{
    background-color: var(--red);
    border-radius: var(--button_radius);
    color: var(--white);
    width: 200px;
}

