
/* ======================================[ Default Settings for Displays over 1500px ]================================*/
:root{
    --text-color: #28322b;
    --white: #e6e6e6;
    --red: #DB2955;
    --green: #44BBA4;
    --color-gray: #666;
    --color-black: #000;
    --shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    --neumorph-shadow: -20px 20px 60px #c4c4c4,
                        20px -20px 60px #ffffff;
    --button_radius: 0.75rem;
    --button_color: #e6e6e6;
    --button_outline_color: #28322b;
    --font-size: 20px;
    --nav-size: 3rem;
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-size-adjust: none;
}
html {
    scroll-behavior: smooth;
    background-color: var(--white);
}
@font-face {
    font-family: Montserrat;
}

h1{
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    color: var(--text-color);
}
h2{
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    color: var(--text-color);
}
h3{
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
}
h4{
    font-family: Montserrat, sans-serif;
    font-size: 1.3rem;
    color: var(--text-color);
}
p, input, textarea{
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    margin: 8px 0;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1.5;
}
span{
    font-size: 1.1rem;
}
b{
    font-family: Montserrat, sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1.5;
}
a{
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: transparent;
    letter-spacing: 1px;
    line-height: 1.5;
}
.big{
    font-size: 3rem;
}

textarea{
    padding: 8px;
}
input{
    padding: 8px;
}

/* =========================================[ Components ]===================================*/
.normal-link{
    border-bottom: 2px solid var(--text-color);
    margin-inline: 10px;
    padding: 10px;
    padding-inline: 5px;
    transition: 0.3s ease-in-out;
}
.normal-link:hover{
    margin-inline: 0;
    padding: 3px;
    padding-inline: 15px;

}
.outer-link{
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.outer-link:hover{
    padding: 10px 20px;
}

.red-link{
    transition: 1s ease-in-out;
    color: var(--white);
    background: rgb(219,41,85);
    background: linear-gradient(270deg, rgba(219,41,85,1) 0%, rgba(191,63,107,1) 30%, rgba(181,36,170,1) 100%) repeat;
}
.red-link:hover {
    background: linear-gradient(90deg, rgba(219,41,85,1) 0%, rgba(191,63,107,1) 30%, rgba(181,36,170,1) 100%) repeat;
}
/* ==================================================[ Button ]================================================^*/
button {
    /* Variables */
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: calc(var(--button_radius) + 0.1rem);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75rem 1.5rem;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2rem);
    transition: transform 0.2s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33rem);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.fake-button{
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: calc(var(--button_radius) + 0.1rem);
    background: var(--button_outline_color);
}
.fake-button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33rem);
}

.fake-button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}
/* =========================================[ Input ] =================================*/

/* ========================================[ Navigation bar ]===============================*/
nav{
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 4;
    justify-content: space-between;
    border: 1px solid transparent;
    background-color: transparent;
    padding-top: 30px;
    height: var(--nav-size);
}
.home-button{
    background-color: var(--white);
    padding-left: 8vw;
    transition: 0.3s ease-in-out;
}
#home-icon{
    height: 100%;
    border-radius: 15px;
    box-shadow: var(--shadow);
}
#navigation-links{
    background-color: transparent;
    padding-right: 8vw;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

li{
    float: left;
}


.nav-link{
    flex-grow: 2;
    z-index: 3;;
    color: var(--text-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    width: fit-content;
    box-shadow: rgba(99, 99, 99, 0.5) 0 5px 8px 0;
}

.nav-link:hover{
    text-decoration: underline;
}
/* =========================================[ Side Navigation ]===========================================*/
#side-navigation{
    position: fixed;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 0;
    padding-left: 20px;
    border-left: 1px solid var(--text-color);
}
#side-nav-links{

}
.side-link{
    left: -10px;
    width: max-content;
}
/* ==========================================[ Basic 2 page Layout ]========================================*/
.page{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-holder{
    height: min-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex-item{
    min-width: 700px;
    max-width: 1000px;
    width: min-content;
}

.flex-small{
    min-width: 300px;
    max-width: 600px;
    width: max-content;
}
/* ==================================[ hero ] ========================================= */
.hero{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.hero-container{
    margin: 0 10vw;
    align-items: center;
    flex-direction: row-reverse;
}

.hero-text{
    flex-grow: 2;
    width: 40vw;
    font-weight: 500;
}

.hero-svg{
    padding-top: 15vh;
    width: 40vw;
    height: 70vh;
    flex-grow: 1;
}

.blue-link{
    color: #2222ad;
}

#button-about{
    margin-right: 10px;
}

/* ==================================[ about ]========================================== */

.about-container{
    width: 100vw;
    margin: 0 10vw;
}

.about-image-container{
    border-radius: 20px;
}
#about-image{
    height: 60vh;
    border-radius: 25px;
    box-shadow: var(--neumorph-shadow);
}
#about-image:hover{

}
.about-text{
    padding-top: 60px;
    padding-bottom: 40px;
}
/* -----------------------------------[ skills ]---------------------------------*/
.skill-holder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.skills{
    width: 200px;
    position: relative;
    z-index: 3;
}
.skills p{
    transition: all 0.3s ease-in-out;
}


.skills:hover p{
    background-color: var(--text-color);
    color: var(--white);
}

/* ==========================================[ portfolio ]=================================================*/
#portfolio{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.skill-holder{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.portfolio-holder{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .3s linear .3s;
    -moz-transition: all .3s linear .3s;
    -ms-transition: all .3s linear .3s;
    -o-transition: all .3s linear .3s;
    transition: all .3s linear .3s;
}
.portfolio-item{
    transition: 0.3s ease-in-out;
}
.isActive{
    display: block;
}
.isNotActive{
    display: none;
}

@media screen and (min-width: 1300px){
    #skill-container{
        visibility: visible;
        height: 50vh;
    }
    #small-skills{
        visibility: hidden;
        display: none;
    }
}



/* -------------------------------- for mobile devices --------------------------------*/
@media only screen and (max-width: 1300px)  {
    .small-skill-holder{
        height: 90vh;
        justify-content: space-evenly;
    }
    .skill-holder{
        height: 0;
    }
    .page{
        padding-top: 3vh;
    }
    .about-image-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about-image{
        height: 40vh;
        border-radius: 25px;
        box-shadow: var(--neumorph-shadow);
    }

    .hero-svg{
        padding-top: 0;
        width: 80vw;
        height: 50vh;
        flex-grow: 1;
    }

    #skill-container{
        visibility: hidden;
    }

    #small-skills{
        width: 80%;
        display: flex;
        visibility: visible;
        justify-content: space-evenly;
    }
}

.arrow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--text-color);
    transition: all 0.2s ease-in-out;
}

.arrow:focus{
    background-color: var(--text-color);
    color: var(--white);
}
/* ======================================[ contact holder ]================================================*/
#contacts{
    height: 60vh;

}
.contact-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#contacts-text{
    width: 50vw;
}
#content{
    width: 100%;
}
#contact-me{
    display: grid;
    grid-template-columns: 1fr;

}

/* =======================================| Icons ]=================================*/
#icon-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 90vw;
    padding-top: 10vh;
}
#icon-holder a{
    width: 100%;
    height: 80%;
}

#icon-holder a img{
    width: 100%;
    height: 100%;
    filter: saturate(30%);
}
